<% if current_user %>
  <div class="page-header">
    <h1>INVITIES <small>Invite Freinds And Earn Points</small></h1>
  </div>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">INVITIES</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">My Invities</a></li>
        <li><a href="#">My Points</a></li>
      </ul>
      <div class="pull-right">
        <p class="navbar-text" href="#">Welcome <%= current_user.name %></p>
      </div>
    </div>
  </div>
  <% unless current_user.errors.blank? %>
    <div class="alert alert-error">
      <%= current_user.errors[:base].join(",") %>
    </div>
  <% end %>
<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <h1 class="text-center"><%= current_user.invities.count %></h1>
      <h1 class="text-center">INVITIES</h1>
    </a>
  </li>
  <li class="span4">
    <a href="#" class="thumbnail">
      <h1 class="text-center"><%= current_user.points.to_i %></h1>
      <h1 class="text-center">POINTS</h1>
    </a>
  </li>
  <li class="span4">
    <a id="app_request" href="#" class="thumbnail" onclick="sendRequest();">
      <h1 class="text-center">INVITE</h1>
      <h1 class="text-center">FRIENDS</h1>
    </a>
  </li>
</ul>
<div class="row-fluid">
  <div class="span12 well well-large text-center">
    <h3>Invite Freinds And Earn Points</h3>
  </div>
</div>
  <script>
    function sendRequest() {
      window.top.location.href = "https://www.facebook.com/dialog/apprequests?app_id=<%= FACEBOOK_APP_KEY %>&redirect_uri="+
        "<%= APP_URL %>&message=Would you like to join me in this great app?";
    }
  </script>
<% end %>