<!DOCTYPE html>
<html>
<head>
  <title>California Campaign</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "font-awesome-ie7.min.css", media: "all" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
  <div class="row-fluid">
    
    <div class="page-header">
      <h1 style="font-family: 'Sonsie One', cursive; color:#FA6A00; ">California Campaign </h1>
    </div>
    <% if current_user %>
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="brand" href="/">California Campaign</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/invities">My Referrals</a></li>
            <li><a href="#">My Points</a></li>
          </ul>
          <div class="pull-right">
            <p class="navbar-text">Welcome <%= current_user.name %></p>
          </div>
        </div>
      </div>
      <% unless current_user.errors.blank? %>
        <div class="alert alert-error">
          <%= current_user.errors[:base].uniq.join(",") %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    <div class="row-fluid">
      <div class="span12 well well-large text-center">
        <h3 style="color:#307c91;">Invite Your Friends and help them get a gift &nbsp <i class = "icon-gift icon-white icon-3x" style = "color:#ff0000; top:-10px; position:relative"></i></h3>
      </div>
    </div>
    <div class="span10">
      <!--Body content-->
    </div>
  </div>
</div>

</body>
</html>
