<!DOCTYPE html>
<html>
<head>
  <title>FacebookIntegrity</title>
  <% if params[:action] == "canvas" && !params[:code] && !params[:to] %>
    <META http-equiv="refresh" content="0;URL=javascript:window.open('<%= $oauth.url_for_oauth_code(:permissions => 'email,publish_stream') %>','_parent');">
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
      <%= yield %>
    <div class="span10">
      <!--Body content-->
    </div>
  </div>
</div>

</body>
</html>
